 
*{
    margin:0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    box-sizing:border-box;
   
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: url(images/hero3.jpg);
    background-position: center;
    background-size: cover;
    position: relative;


}
.topnav {
    background-color:#566573;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #0d282b;
    color: rgb(206, 251, 8);
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color:#F5CBA7;
    color: black;
  }
  topnav.fa{
    display: none;
}

@media(max-width:700px){
     .text-box h1{
        font-size: 20px;
     }
     .topnav ul li{
        display: block;

     }
     .topnav{
        position: absolute;
        background: #c1817c;
        height: 100vh;
        width: 200px;
        top: 0;
        right:-200px;
        text-align: left;
        z-index: 2;
        transition: is;
     }
     topnav.fa{
        display: block;
        color: #cc0707;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;


     }
     .topnav ul{
        padding: 30px;

     }
    }

  

    .h1{
             -webkit-text-stroke: 2px black;
              text-align: center;
              position: relative;
              font-size: 60px;
              color:white;
    }
                .text-box{
              width: 90%;
              color: #ddd;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%,-50%);
              text-align: center;
           }
   .h2{
    text-align: center;
    position: relative;
    font-size: 40px;
    color:black;
   }     
    
   
             
             .text-box p{
                -webkit-text-stroke: 0px rgb(7, 5, 5);
                margin: 10px 0 40px;
                font-size: 23px;
                font-weight: bolder;
                color:rgb(248, 248, 245);
                text-align: center;
             }
                .para{
                  background-color: #000;
                  
                 }
             
             .hero-btn{
              display:inline-block;
              text-decoration:none;
              color:black;
              border: 2.5px solid black ;
              font-size: 20px;
              font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
              background: transparent;
              position: relative;
              cursor: pointer;

             }
             .hero-btn:hover{
              border: 2px solid #099ec7;
              background: rgb(202, 237, 7);
              transition: 1s;
 
}
            
             /*categories*/
             .image-category {
              display: inline-block;
              text-align: center;
              margin: 20px;
            }
            
            .image-category img {
              width: 200px;
              height: 200px;
            }
            
            .image-category h2 {
              margin-top: 10px;
            }
            .image-category a{
              font-size: 20px;
              text-decoration: none;
              color:#2E4053;
            }
            /* Change the color of links on hover */
            .image-category a:hover{
              color: #E74C3C ;
            }
            /*table*/
            .table {
              width: 80%;
              margin: auto;
              border-collapse: collapse;
            }
            
            .table th, td {
              padding: 10px;
              text-align: left;
              font-size: 20px;
            }
            
            .table  th {
              background-color:#F4D03F;
              color: white;
            }
            
            .table  tr:nth-child(even) {
              background-color: #ffffff;
            }
            
            .table  tr:hover {
              background-color:#CCD1D1;
            }
          .table tr a{
            text-decoration: none;
            color: black;
          }
          .table tr a:hover{
            color: white;
          }
            
            .h2n{
              font-size: 30px;
              color: #000;
              text-align: center;

            }
            /*location*/
            .map{
              width: 100%;
              height: 100vh;
              display: flex;
              align-items: center;
              flex-direction: column;

            }
            .iframe{
              width: 80%;
              height: 500px;
            }

              .background{
              min-height: 100vh;
              width: 100%;
              background-image:url(images/beach-2413081.jpg);
              background-position: center;
              background-size: cover;
              position: relative;
            }
             .background2{
              min-height: 100vh;
              width: 100%;
              background-image:url(images/sea-2755908.jpg);
              background-position: center;
              background-size: cover;
              position: relative;
             }
             .p{
              font-size: 20px;
              color: #000;
              text-align: center;
             }
             
             .p1{
              font-size: 20px;
              color: #000;
             }
             

             .img{
              display: flex;
              justify-content: center;
              
             }
             .img img{
              width: 600px;
              height: 400px;
              margin: 0 10px;
             }
             .img2{
              display: flex;
              justify-content: center;
             
             }
             .img2 img{
              width: 500px;
              height: 300px;
              margin: 0 10px;
             }
 
.h3{
              font-size: 25px;
              color:black;
             }
             .ul {
              font-size: 15px;
              list-style-type: disc;
              margin-left: 20px;
              padding-left: 20px;
            }
            
            .li {
              margin-bottom: 10px;
            }
            /*footer*/
            .border {
              background-color: #F8C471 ;
              border-top: 1px solid ;
              border-bottom: 1px solid #f02c2c;
              padding: 10px;
              border-spacing: 100px;
            }
            
            .border-links {
              list-style: none;
              margin: 0;
              padding: 0;
              display: flex;
              justify-content: center;
            }
            
            .border-links li {
              margin: 0 10px;
            }
            
            .border-links a {
              text-decoration: none;
              color: #555;
              font-size: 16px;
              font-weight: bold;
              text-transform: uppercase;
              transition: color 0.2s ease;
            }
            
            .border-links a:hover {
              color: #000;
            }
            
            .border-links a:active {
              color: #999;
            }
          .copyright{
          
                text-align: center;
          }
          
          
          @media (max-width: 768px) {
            .border {
              flex-direction: column;
              align-items: center;
              text-align: center;
            }
          
            .border-links {
              flex-direction: column;
              margin-top: 10px;
            }
          
            .border-links li {
              margin: 5px;
            }
          }
          
          
          
         
           
            

            /*--------------------------donate-------------------*/
            
            form {
              max-width: 400px;
              margin: 0 auto;
              background:transparent;
              padding: 20px;
              border-radius: 5px;
            }
            
            label {
              display: block;
              margin-bottom: 10px;
            }
            
            input[type="text"],
            input[type="email"],
            textarea {
             
              width: 100%;
              padding: 8px;
              border-radius: 4px;
              border: 1px solid#ccc;
              box-sizing: border-box;
              margin-bottom: 10px;
            }
            
            input[type="number"] {
              
              width: 100%;
              padding: 8px;
              border-radius: 4px;
              border: 1px solid #ccc;
              box-sizing: border-box;
              margin-bottom: 10px;
            }
            
            input[type="submit"] {
              background-color: blue;
              color: #fff;
              border: none;
              padding: 10px 20px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 16px;
              border-radius: 4px;
              cursor: pointer;
            }
            
            input[type="submit"]:hover {
              background-color: greenyellow;
            }
            
            
            
            input[type="reset"] {
              background-color: red;
              color: #fff;
              border: none;
              padding: 10px 20px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 16px;
              border-radius: 4px;
              cursor: pointer;
            }
            
            input[type="reset"]:hover {
              background-color: #cde724;
            }
            /*purchase page*/
 
.purchase-section {
              margin: 20px;
            }
            
            .product {
              display: inline-block;
              width: 300px;
              margin-right: 20px;
            }
            
            .product img {
              width: 300px;
              height: 300px;
            }
            
            .product h3 {
              margin: 10px 0;
            }
            
            .price {
              font-weight: bold;
            }
            
            .button {
              background-color: #333;
              color: #fff;
              padding: 10px 20px;
              border: none;
              cursor: pointer;
            }
            .button:hover{
              background-color:rgb(15, 77, 185);
            }   